@import url("https://use.typekit.net/nqc3uec.css");

body {
  margin: 0;
  font-family: itc-benguiat, serif;

  font-weight: 400;

  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
